:root{
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Very-dark-blue-main-bg: hsl(217, 54%, 11%);
    --Very-dark-blue-card-bg: hsl(216, 50%, 16%);
    --Very-dark-blue: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);

}

.attribution { font-size: 0.688rem; text-align: center; color: white;}
.attribution a { color: white; }



body{
    background-color: var(--Very-dark-blue-main-bg);
}
hr{
    color:  var(--Soft-blue);
}
i{
    color: white;
}

.container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Very-dark-blue-main-bg);
    
}


.card{
    max-width: 1440px;
    min-width: 375px;
    background-color: var(--Very-dark-blue-card-bg);
    border-radius: 1rem;
    width: 23.438rem;
}


.image{
    position: relative;
}

.card-img-top{
    width: 100%;
    padding: 1.5rem;
    border-radius: 2rem;
    display: block;
}

.image-overlay{
    position: absolute;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 1.5rem;
    left: 1.5rem;
    width: 87%;
    height: 87%;
    border-radius: 0.8rem;
    background: var(--Cyan);
    opacity: 0;
}

.card-body{
    font-family: "Outfit";
}







.card-title{
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
    margin-left: 0.75rem;
    margin-bottom: 1.5rem;

}

.card-text{
    color: var(--Soft-blue);
    margin-left: 0.75rem;
    font-size: 1.125rem;
    font-weight: 300;
}

.sub-container{
    display: flex;
    align-items: baseline;
    gap: 6rem;
}

.eth-text{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--Cyan);
}

.days-text{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.text-footer{
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
}

.img-avatar{
    width: 2rem;
    border: solid white;
    border-radius: 100%;
    margin-right: 1rem;
}
span{
    color: white;
    margin-left: 0.4rem;
}


/* Hover */




.card-title:hover{
    color: var(--Cyan);
    transition: all ease-in 0.5s;
}

span:hover{
    color: var(--Cyan);
    transition: all ease-in 0.5s;
}

.image-overlay:hover{
    opacity: 0.8;
    transition: all ease-in 0.5s;
}

    